<!-- <span><%= link_to_function '(more)', "$('#node_toc').toggle('blind',{},'fast')" %> -->
<!--<span><%= link_to_function '(more)', visual_effect(:toggle_blind,'node_toc', :duration => 0.2) %>-->
<ul id="node_toc" class="toc">
<li><%= toc_link_loc "at NUT", 'nut' %></li>
<li><%= toc_link_loc "at Gurnee", 'gur' %></li>
<li><%= toc_link_loc "at 200 W Jackson", 'chi' %></li>
<li><%= toc_link_loc "at Oakbrook", 'obr' %></li>
<li><%= toc_link_loc "at NAV", 'nav' %></li>
<li><%= toc_link_cls "Xen DomUs", 'virtual' %></li>
<li><%= toc_link_cls "Servers", 'physical' %></li>
<li><%= toc_link_cls "Pdus", 'pdu' %></li>
<li><%= toc_link_cls "Serial consoles", 'serial console' %></li>
<li><%= toc_link_cls "Switches", 'switch' %></li>
<li><%= toc_link_cls "Load Balancers", 'load balancer' %></li>
</ul>
<!--</span>-->
