<% set_html_title "#{@osversion.to_label} (Edit)", "Os Versions" %>
<h1>Edit Os Version</h1>

<% form_for(:osversion, @osversion, :url => { :action => 'update', :id => @osversion }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :distribution %><br/>
    <%= collection_select(:osversion, :distribution, Distribution.find(:all), "name", "name") %>
  </p>
  <p>
    <%= f.label :kernel %><br/>
    <%= f.text_field :kernel %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'list' %>
